#app > header .navbar-nav .nav-item.active,
#app > header .navbar-nav .nav-item:hover {
    background-color: #eaebeb !important;
}

#app > header .navbar-nav .nav-item:active {
    color: white;
    background-color: #797979 !important;

    transition: all ease-in-out 0.5s;
}

.hover-rotate:hover {
    transform: rotateZ(390);
    transition: all ease-in 5s;
}